*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;

}

.mainsection{
    margin-top: 7%;
    border: 2px solid black;
    height: 65vh;
    width: 50vh;
    box-shadow: 0px 5px 28px black;

}