@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 7%;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    height: 52vh;
    width: 30vw;
}


.header>h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.header>form {
    display: flex;
    justify-content: center;
}

.ipt {
    margin: 0 3px;
    padding: 5px 18px;
    width: 205px;
    height: 21px;
    border: none;
    background-color: rgba(205, 205, 205, 0.587);
    border-radius: 4px;
}

.bn {
    margin: 0;
    padding: 0 10px;
    background-color: #ff57ff;
    color: black;
    border: none;
    border-radius: 4px;
}

.bn:hover {
    transition-duration: .5s;
    margin: 0;
    padding: 0 10px;
    background-color: #ff00ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
}

.box>:nth-child(1) {
    display: flex;
    margin: 0 91px;
    justify-content: space-between;
    align-items: center;
}

label {
    width: 346px;
}

.tasks>:nth-child(1) {
    display: flex;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear>button {
    margin: 0 23px;
    padding: 4px 10px;
    background-color: #ff57ff;
    color: black;
    border: none;
    border-radius: 4px;
}

.clear>button:hover {
    margin: 0 23px;
    padding: 4px 10px;
    background-color: #ff00ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
}